.about-us {
    max-width: 1920px;
    height: 400px;
    margin: 0 auto;
    background-image: url('https://i.ibb.co/HzTFN41/about-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-text {
    width: 75%;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px 0 0 25px;
}

@media only screen and (max-width: 768px) {
    .about-us {
        height: 470px;
    }
}
@media only screen and (max-width: 576px) {
    .about-us {
        height: 570px;
    }
    .about-us-text {
        width: 80%;
    }
}
@media only screen and (max-width: 450px) {
    .about-us {
        height: 640px;
    }
    .about-us-text {
        width: 100%;
    }
}
@media only screen and (max-width: 390px) {
    .about-us {
        height: 820px;
    }
    .about-us-text {
        width: 100%;
    }
}